appdirs==1.4.3
branca==0.4.0
certifi==2019.11.28
chardet==3.0.4
distlib==0.3.0
dronekit==2.9.2
filelock==3.0.12
folium==0.1.5
future==0.18.2
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.4.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
monotonic==1.5
numpy==1.18.2
opencv-python==4.2.0.32
packaging==20.3
pymavlink==2.4.7
pyparsing==2.4.6
PyQt5==5.11.3
PyQt5-sip==4.19.19
requests==2.23.0
six==1.14.0
toml==0.10.0
urllib3==1.25.8
virtualenv==20.0.15
zipp==3.1.0
dronekit_sitl==3.3.0
serial==0.0.97
pyserial==3.4
